<%= form_tag("/schedule", method: "post", id: "tvForm") do %>

<div class="container desktop">
	
	<div class="row search-board">
		<div class="col-md-3 date-board"><span></span></div>
		<div class="col-md-9">
			<div class="search-bar relative-pos">
				<div class="center" style="width: 100%">
					<div class="col-md-3">					
						<div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query form-control" placeholder="Search Listings"  id="listings-search-term" name="listings_search_term"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" id="listings-search-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
					</div>

					<div class="col-md-6 listings-details-column listings-date-time-search row">
						<div class="col-md-6">
							<select id="listings-date-picker-date-select" name="listings_date_picker_date_select" class="listings-picker-select"></select>
						</div>

						<div class="listings-date-picker-time-total col-md-6">
							
							<select id="listings-date-picker-time-select" class="listings-picker-select" name="listings_date_picker_time_select"><optgroup label="Quick Jump"><option value="17">Primetime</option><option value="now">Now</option></optgroup><optgroup label="Times"><option value="00">12:00 AM</option><option value="01">1:00 AM</option><option value="02">2:00 AM</option><option value="03">3:00 AM</option><option value="04">4:00 AM</option><option value="05">5:00 AM</option><option value="06">6:00 AM</option><option value="07">7:00 AM</option><option value="08">8:00 AM</option><option value="09">9:00 AM</option><option value="10">10:00 AM</option><option value="11">11:00 AM</option><option value="12">12:00 PM</option><option value="13">1:00 PM</option><option value="14">2:00 PM</option><option value="15">3:00 PM</option><option value="16">4:00 PM</option><option value="17">5:00 PM</option><option value="18">6:00 PM</option><option value="19">7:00 PM</option><option value="20">8:00 PM</option><option value="21">9:00 PM</option><option value="22">10:00 PM</option><option value="23">11:00 PM</option></optgroup></select>
						
							<button id="listings-date-time-picker-go" class="">GO</button>
						</div>
					</div>
					<div class="col-md-3 listings-details-column listings-details-preferences-column">
						<a href="#" onclick="return false" id="listings-favorites-button" data-toggle="modal" data-target="#gridSystemModal"><i class="fa fa-heart fa-fw listings-button-icon"></i> Favorites</a>
						<a href="#" onclick="return false" id="listings-preferences-button" data-toggle="modal" data-target="#grid_preferences"><i class="fa fa-gear fa-fw listings-button-icon"></i> Preferences</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row" id="yield-area">
		<div class="col-xs-1 arrow-common side-arrow-board">
			<a href="#"><span class="glyphicon glyphicon-triangle-left center" aria-hidden="true"></span></a>
		</div>
		
		<div class="col-xs-10">
			<div class="row arrow-common top-bottom-arrow-board">
				<a href="#"><span class="glyphicon glyphicon-triangle-top center" aria-hidden="true"></span></a>
			</div>

			<div class="row">
				<div class="col-xs-3 blank-space"></div>
				<div class="col-xs-9 time-board">
					<div class="col-xs-4 each-time">
						<span class="time">11</span>
						<span class="twelve">AM</span>						
					</div>	
					<div class="col-xs-4 each-time">
						<span class="time">12</span>
						<span class="twelve">PM</span>
					</div>
					<div class="col-xs-4 each-time">
						<span class="time">1</span>
						<span class="twelve">PM</span>
					</div>
				</div>
			</div>

			<div class="grid-view">
				
			</div>

			<div class="row arrow-common top-bottom-arrow-board">
				<a href="#"><span class="glyphicon glyphicon-triangle-bottom center" aria-hidden="true"></span></a>
			</div>
		</div>

		<div class="col-xs-1 arrow-common side-arrow-board">
			<a href="#"><span class="glyphicon glyphicon-triangle-right center" aria-hidden="true"></span></a>
		</div>
	</div>
	
</div>
<input type="hidden" name="cur_now" id="cur_now"></input>
<input type="hidden" name="utc_locale" id="utc_locale"></input>
<input type="hidden" name="changed" id="changed" value="false"></input>

<!-- Start: Favorite Modal Definition -->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Favorite Channels</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-6 col-md-offset-3">
		            <input type="search" id="container-search" value="" class="form-control" placeholder="SEARCH FOR A CHANNEL">
	        	</div>
	        </div>

	        <div class="row" id="searchable-container">
			    
			</div>
		   
        </div>
      </div>
      <div class="modal-footer row">
      	<div class="listings-favorites-bulk-buttons col-md-6">
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-add">
        		<span class="fa fa-plus"></span> Add All
        	</button> 
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-remove">
        		<span class="fa fa-minus"></span> Remove All
        	</button>	
        </div>
        <div class="col-md-6">
	        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
	        <button type="button" class="btn btn-primary">SAVE FAVORITES</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Favorite Modal Definition -->


<!-- Start: Detailed Info Board Of Program-->

<div class="modal fade bd-example-modal-lg" id = "pro_info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="channel-info"></div>
      <div class="pro-info"></div>
    </div>
  </div>
</div>

<!-- End: Detailed Info Board -->


<!-- Start: Preferences Modal Definition -->
<div id="grid_preferences" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Grid Preferences</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-5">
		        	<p class="setting-title">Initial Time</p>
		        	<p class="question">
		    			When you first open listings, what time should the grid be opened to?
		    		</p>
		    		<div class="radio">
						<label><input type="radio" name="initial_time" value="now"><span>Current Time</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="5"><span>5 PM</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="7"><span>7 PM</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="9"><span>9 PM</span></label>
					</div>
		        </div>
		        <div class="col-md-7">
		        	<p class="setting-title">Station Filters</p>
		        	<p class="question">
		        		Customize your grid by showing or hiding different station types.
		        	</p>

		        	<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="broadcast"><span>Broadcast</span></label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="cable"><span>Cable</span></label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="community"><span>Community</span></label>
					</div>
		        </div>		        
	        </div>
		    
		    <div class="row">
		    	<div class="col-md-5">
		    		<p class="setting-title">Timespan</p>
		    		<p class="question">
		    			How many hours do you want to see at once?
		    		</p>
		    		<div class="radio">
						<label><input type="radio" name="time_span" value="1"><span>1 hour</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="time_span" value="2"><span>2 hour</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="time_span" value="3"><span>3 hour</span></label>
					</div>
		    	</div>
		        <div class="col-md-7">
		        	<p class="setting-title">Grid Height</p>
		        	<p class="question">
		        		How many channels should the listings grid be contained to?
		        	</p>
		        	<div class="radio">
						<label><input type="radio" name="grid_height" value="7"><span>7 Channels</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="grid_height" value="14"><span>14 Channels</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="grid_height" value="21"><span>21 Channels</span></label>
					</div>
		        </div>	
		    </div>
        </div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-12">
	      	<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
		    <button type="button" class="btn btn-primary">SAVE PREFERENCES</button>
      	</div>
      </div>
    </div>
  </div>
</div>
<!-- End: Preferences Modal Definition -->

<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		
		// ---- Start: Declaration of variables and constants
		var js_tv_list;		
		var start_t;
		var search_time;
		var search_date_t;
		var tv_listing;		
		var channel_list;
		var select_time_val;
		var start_chan = 0;
		var end_chan = 6;
		var base_start_t; 
		var base_end_t;
		var all_channels;
		const channels_per_page = 7;
		// ---- End: Declaration of variables and constants

		function init_date_picker() {
			var tmp_html = '';	
			var loop_date = moment(start_t);

			for (var i = 0; i < 14; i++) {
				tmp_html = tmp_html + "<option value='" + loop_date.format('YYYY-MM-DD HH:mm:ss Z') + "'>" + loop_date.format("dddd, MMM D") + "</option>";
				loop_date = moment(loop_date).add(1, 'day');
			}

			$('#listings-date-picker-date-select').html(tmp_html);

			$('#listings-date-picker-date-select option[value="' + moment(search_date_t).format('YYYY-MM-DD HH:mm:ss Z') + '"]').attr("selected", "selected");
		}

		function init_time_picker() {
			$('#listings-date-picker-time-select option[value="' + select_time_val + '"]').attr("selected", "selected");
		}

		function display_favorite_channels() {
			var tmp_html = '';
			
			for (var i = 0; i < all_channels.length; i++) {
				var glyphicon;
				var val;
				glyphicon = 'glyphicon-plus';
				val = false;

				for(var j = 0; j < channel_list.length; j++) {
					if((channel_list[j].s_number == all_channels[i].s_number) && (channel_list[j].s_id == all_channels[i].s_id)) {
						glyphicon = 'glyphicon-ok';
						val = true;
						break;
					}
				}

				tmp_html = tmp_html + '<div class="col-md-12 row-padding" data-callsign="' + all_channels[i].callsign + '" data-s-num="' + all_channels[i].s_number + '"><span style="margin-right: 10px"><img src="http://cdn.tvpassport.com/image/station/100x100/' + all_channels[i].logo_file_name + '" style="width: 30px; height: 20px"></span><span class="keys">' + all_channels[i].callsign + '</span><span class="keys"> ' + all_channels[i].s_number + '</span><span class="pull-right glyphicon ' + glyphicon + '"></span><input type="hidden" name="status[' + all_channels[i].s_id.toString() + '_' + all_channels[i].s_number + ']" value=' + val + '></div>';	
			}

			$('#searchable-container').html(tmp_html);

			$('#searchable-container .glyphicon').on('click', function(){
				if($(this).hasClass('glyphicon-ok')) {
					$(this).removeClass('glyphicon-ok');
					$(this).addClass('glyphicon-plus');
					$(this).parent().find("input").attr('value', false);
				} else {
					$(this).removeClass('glyphicon-plus');
					$(this).addClass('glyphicon-ok');	
					$(this).parent().find("input").attr('value', true);
				}	
			});
			$('#searchable-container', $("#gridSystemModal")).searchable({
		        searchField: '#container-search',
		        selector: '.col-md-12.row-padding',
		        childSelector: 'span.keys',
		        show: function( elem ) {
		            elem.slideDown(100);
		        },
		        hide: function( elem ) {
		            elem.slideUp( 100 );
		        }
		    });
		}

		function initialize() {
      		$('#cur_now').val(moment().format('YYYY-MM-DD HH:mm:ss Z'));
			$('#utc_locale').val(moment().utcOffset());
			
			js_tv_list = {};
			start_t = "<%= raw @start_t %>";
			search_time = "<%= raw @search_time %>";
			search_date_t = "<%= raw @search_date_t %>";
			select_time_val = "<%= raw @select_time_val %>";

			all_channels = <%= raw @all_channels.to_json %>;
			tv_listing = <%= raw @tv_listing.to_json %>;
			channel_list = <%= raw @favorite_channels.to_json %>;

			console.log(tv_listing);
			console.log(search_date_t);
			console.log(search_time);
			console.log(start_t);

			init_date_picker();
			init_time_picker();
			$("#listings-date-picker-date-select").select2({width: '100%'});
			$("#listings-date-picker-time-select").select2({width: '65%'});

			channel_list.forEach(function(channel){
				if (Object.keys(js_tv_list).indexOf(channel.callsign) === -1) {
					js_tv_list[channel.callsign] = [];
				}

				js_tv_list[channel.callsign][channel.s_number.toString()] = [];
			});

			tv_listing.forEach(function(tv_channel) {

				js_tv_list[tv_channel.callsign][tv_channel.s_number.toString()].push(tv_channel);
			});

			if(channel_list.length < channels_per_page) end_chan = channel_list.length - 1;

			start_t = moment(start_t);
			search_date_t = moment(search_date_t);
			if(moment(search_time).hour() > 21)
				search_time = moment(search_time).hour(21);
			else
				search_time   = moment(search_time);
			end_t = moment(search_time).add(3, 'h');

			display_favorite_channels();
		}

		initialize();

				
		$('.date-board span').html("Listings for " + moment(search_date_t).format("Do MMMM")); 

		base_start_t = moment(search_date_t); 
		base_end_t   = moment(base_start_t).add(24, 'h');

		function display_time_board(){
			var display_time = moment(search_time);

			$('.time-board .each-time').each(function(){
				$(this).find('.time').html(moment(display_time).format("h"));
				$(this).find('.twelve').html(display_time.format("A"));
				display_time = moment(display_time).add(1, 'h');
			});
		}

		display_time_board();
		
		function display_tv_listing(start, end) {
			$('.grid-view').html('');

			for(var c = start; c <= end; c++) {
				var channel = js_tv_list[channel_list[c].callsign][channel_list[c].s_number];
				var cur_t;
				var next_t;
				var web_link;

				if(channel_list[c].weblink == "") 
					web_link = "#"
				else
					web_link = channel_list[c].weblink;

				var tmp_html = "<div class='row' id='" + channel_list[c].s_id.toString() + "_" + channel_list[c].s_number + "'><div class='col-xs-3 channel-board'><div class='channel_info'><p class='channel_name'>" + channel_list[c].callsign + "</p><span>" + channel_list[c].s_number + "</span><p><a href='" + web_link + "'>watch now</a></p></div></div><div class='col-xs-9 program-board'></div></div>";
				$(tmp_html).appendTo(".grid-view");

				for(var i in channel)
				{
					cur_t = moment(channel[i].locale_time, "YYYY-MM-DD HH:mm:ss");
					next_t = moment(cur_t).add(channel[i].duration, 'm');
					
				    if(next_t.diff(search_time) > 0 && cur_t.diff(end_t) < 0) {
				    	if(cur_t.diff(search_time) < 0) cur_t = moment(search_time, "YYYY-MM-DD HH:mm:ss");
				    	var tmp_html;
				    	var div_width_percent;
				    	var right_border = '';
				    	if(next_t.diff(end_t) >= 0) {
				    		div_width_percent = end_t.diff(cur_t, "m") / 180.0 * 100;
				    	}
				    	else {
				    		div_width_percent = next_t.diff(cur_t, "m") / 180.0 * 100;   	
				    		right_border = ' right-border';	
				    	}
				    	tmp_html = "<div class='pull-left" + right_border + "' style='width: " + div_width_percent + "%'><a href='#' class='for-detail' data-target='#pro_info' data-callsign='" + channel_list[c].callsign + "' data-chan-num='" + channel_list[c].s_number + "' data-list-id='" + i + "'><p class='show-type truncate'>" + channel[i].show_type + "</p><p class='episode-title truncate'>" + channel[i].episode_title + "</p><p class='duration truncate'>" + moment(channel[i].locale_time, "YYYY-MM-DD HH:mm:ss").format('h:mmA') + "-" + moment(next_t).format('h:mmA') + "</p></a></div>";
	
				    	$(tmp_html).appendTo('#' + channel_list[c].s_id.toString() + "_" + channel_list[c].s_number + ' .program-board');
				    }
				}
			};
		};
		
		display_tv_listing(start_chan, end_chan);


		function clear_program_board(start, end) {
			for(var c = start; c <= end; c++) {
				$('#' + channel_list[c].s_id.toString() + "_" + channel_list[c].s_number + ' .program-board').html('');
			};	
		};

		// When clicking left arrow link, it will display tv listing one hour ago from current time
		$('.glyphicon-triangle-left').click(function(){
			
			if(base_start_t.diff(search_time) == 0) return;
			
			search_time = moment(search_time).subtract(1, 'h');
			end_t 	= moment(end_t).subtract(1, 'h');
			
			clear_program_board(start_chan, end_chan);
			display_time_board();
			display_tv_listing(start_chan, end_chan);	
			$('.program-board .for-detail').on('click', click_for_detail);		
		});

		// When clicking right arrow link, it will display tv listing one hour after from current time
		$('.glyphicon-triangle-right').click(function(){
			if(base_end_t.diff(end_t) == 0) return;
			search_time = moment(search_time).add(1, 'h');
			end_t 	= moment(end_t).add(1, 'h');

			clear_program_board(start_chan, end_chan);
			display_time_board();
			display_tv_listing(start_chan, end_chan);
			$('.program-board .for-detail').on('click', click_for_detail);
		});	

		// When clicking top arrow link, it will move to the previous page
		$('.glyphicon-triangle-top').click(function(){
			if(start_chan == 0) return;

			start_chan = start_chan - 7;
			end_chan = end_chan - (end_chan % channels_per_page) - 1;
			
			clear_program_board(start_chan, end_chan);
			display_time_board();
			display_tv_listing(start_chan, end_chan);
			$('.program-board .for-detail').on('click', click_for_detail);
		});	

		// When clicking bottom arrow link, it will move to the next page
		$('.glyphicon-triangle-bottom').click(function(){
			if(end_chan == channel_list.length - 1) return;

			start_chan = start_chan + channels_per_page;
			if(end_chan +  channels_per_page > channel_list.length) 
				end_chan = channel_list.length - 1;
			else
				end_chan = end_chan + 7;

			clear_program_board(start_chan, end_chan);
			display_time_board();
			display_tv_listing(start_chan, end_chan);
			$('.program-board .for-detail').on('click', click_for_detail);
		});		

		$('#listings-search-submit').on("click", function(){
			if($("#listings-search-term").val() == '') return;
			$('#tvForm').attr("action", "schedule/show");
			$('#tvForm').submit();
		});

		// When clicking 'GO' button for search with date and time, it will submit form data to the back-end
		$("#listings-date-time-picker-go").click(function(){
			$('#tvForm').submit();
		});

		$('.listings-favorites-bulk-add').on('click', function(event){
			event.preventDefault();
			$('#searchable-container .glyphicon').each(function(){
				if($(this).hasClass('glyphicon-plus')) {
					$(this).removeClass('glyphicon-plus');
					$(this).addClass('glyphicon-ok');
					$(this).parent().find("input").attr('value', true);
				}
			});	
		});


		$('.listings-favorites-bulk-remove').on('click', function(event){
			event.preventDefault();
			$('#searchable-container .glyphicon').each(function(){
				if($(this).hasClass('glyphicon-ok')) {
					$(this).removeClass('glyphicon-ok');
					$(this).addClass('glyphicon-plus');
					$(this).parent().find("input").attr('value', false);
				}
			});	
		});


		function click_for_detail() {
			var id = $(this).attr('data-callsign');
			var c_n = $(this).attr('data-chan-num');
			var c_list_id = $(this).attr('data-list-id');
			var ch_html;
			var pro_html;

			ch_html = '<span><img src="http://cdn.tvpassport.com/image/station/100x100/' + js_tv_list[id][c_n][c_list_id].logo_file_name + '" style="width: 100px; height: 100px"></span><span class="listings-channel-number-name"><span class="listings-channel-number-name-inner"><span class="listings-channel-number">' + js_tv_list[id][c_n][c_list_id].s_number + '</span><span class="listings-channel-name">' + js_tv_list[id][c_n][c_list_id].callsign + '</span></span></span>';
			$('#pro_info .channel-info').html(ch_html);
	
			pro_html = "<div><span style='font-size: 20px'>" + (js_tv_list[id][c_n][c_list_id].episode_title == '' ? js_tv_list[id][c_n][c_list_id].show_name : js_tv_list[id][c_n][c_list_id].episode_title) + "</span><span class='pull-right " + (js_tv_list[id][c_n][c_list_id].new == true ? 'tag' : '') + "'>" + (js_tv_list[id][c_n][c_list_id].new == true ? 'NEW' : '') + "</span><span class='pull-right " + (js_tv_list[id][c_n][c_list_id].live == true ? 'tag' : '') + "'>" + (js_tv_list[id][c_n][c_list_id].live == true ? 'LIVE' : '') + "</span><span class='pull-right " + (js_tv_list[id][c_n][c_list_id].rating == '' ? '' : 'tag') + "'>" + js_tv_list[id][c_n][c_list_id].rating + "</span></div>"

			pro_html = pro_html + "<div style='margin-top: 15px'>Air Time: " + moment(js_tv_list[id][c_n][c_list_id].locale_time, "YYYY-MM-DD HH:mm:ss").format('h:mm A') + " (" + moment.duration(js_tv_list[id][c_n][c_list_id].duration, "minutes").format("h [hr] m [min]") + ")" + "</div>";
			pro_html = pro_html + "<div style='margin-top: 15px'>" + js_tv_list[id][c_n][c_list_id].description + "</div>";

			if(moment().diff(moment(js_tv_list[id][c_n][c_list_id].locale_time).add(js_tv_list[id][c_n][c_list_id].duration, 'm')) < 0) {
				pro_html = pro_html + "<div style='margin-top: 15px'><button type='button' class='btn btn-primary' style='margin-right: 20px'>WATCHLIST</button><button type='button' class='btn btn-danger'>RECORD</button></div>";
			}
			$('#pro_info .pro-info').html(pro_html);

			$('#pro_info').modal('show');
		}

		

		$('.program-board .for-detail').on('click', click_for_detail);

		$('#listings-favorites-button').on('click', function() {
			$('#searchable-container .col-md-12.row-padding').each(function(){
				var exist = false;
				for(var i = 0; i < channel_list.length; i++) {
					if(channel_list[i].callsign == $(this).attr('data-callsign') && channel_list[i].s_number == $(this).attr('data-s-num')) {
						exist = true;
						break;
					}
				}

				if(exist) {
					$(this).find('span:nth-child(4)').attr('class', 'pull-right glyphicon glyphicon-ok');
				} else {
					$(this).find('span:nth-child(4)').attr('class', 'pull-right glyphicon glyphicon-plus');
				}
			});	
		});

		$('#gridSystemModal .btn-primary').on('click', function(){
			$('#changed').val(true);
			$('#gridSystemModal').modal('hide');
			$('#tvForm').submit();	
		});
	});
</script>







