<%= form_tag("/schedule", method: "post", id: "tvForm") do %>

<div class="container desktop">
	<div class="row search-board">
		<div class="col-md-3 date-board"><p class="truncate"></p></div>
		<div class="col-md-9">
			<div class="search-bar relative-pos">
				<div class="center" style="width: 100%">
					<div class="col-md-3">					
						<div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query form-control" placeholder="Search Listings"  id="listings-search-term" name="listings_search_term"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" id="listings-search-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
						
					</div>

					<div class="col-md-6 listings-details-column listings-date-time-search row">
						<div class="col-md-6">
							<select id="listings-date-picker-date-select" name="listings_date_picker_date_select" class="listings-picker-select"></select>
						</div>

						<div class="listings-date-picker-time-total col-md-6">
							
							<select id="listings-date-picker-time-select" class="listings-picker-select" name="listings_date_picker_time_select"><optgroup label="Quick Jump"><option value="17">Primetime</option><option value="now">Now</option></optgroup><optgroup label="Times"><option value="00">12:00 AM</option><option value="01">1:00 AM</option><option value="02">2:00 AM</option><option value="03">3:00 AM</option><option value="04">4:00 AM</option><option value="05">5:00 AM</option><option value="06">6:00 AM</option><option value="07">7:00 AM</option><option value="08">8:00 AM</option><option value="09">9:00 AM</option><option value="10">10:00 AM</option><option value="11">11:00 AM</option><option value="12">12:00 PM</option><option value="13">1:00 PM</option><option value="14">2:00 PM</option><option value="15">3:00 PM</option><option value="16">4:00 PM</option><option value="17">5:00 PM</option><option value="18">6:00 PM</option><option value="19">7:00 PM</option><option value="20">8:00 PM</option><option value="21">9:00 PM</option><option value="22">10:00 PM</option><option value="23">11:00 PM</option></optgroup></select>
						
							<button id="listings-date-time-picker-go" class="btn-disabled">GO</button>
						</div>
					</div>
					<div class="col-md-3 listings-details-column listings-details-preferences-column">
						<a href="#" onclick="return false" id="listings-favorites-button"  data-toggle="modal" data-target="#gridSystemModal"><i class="fa fa-heart fa-fw listings-button-icon"></i> Favorites</a>
						<a href="#" onclick="return false" id="listings-preferences-button"><i class="fa fa-gear fa-fw listings-button-icon"></i> Preferences</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row" id="yield-area">
		
	</div>	
</div>

<input type="hidden" name="cur_now" id="cur_now"></input>
<input type="hidden" name="utc_locale" id="utc_locale"></input>
<input type="hidden" name="changed" id="changed" value="false"></input>
<input type="hidden" name="search_word" id="search_word">

<!-- Start: Favorite Modal Definition -->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Favorite Channels</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-6 col-md-offset-3">
		            <input type="search" id="container-search" value="" class="form-control" placeholder="SEARCH FOR A CHANNEL">
	        	</div>
	        </div>

	        <div class="row" id="searchable-container">
			    
			</div>
		   
        </div>
      </div>
      <div class="modal-footer row">
      	<div class="listings-favorites-bulk-buttons col-md-6">
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-add">
        		<span class="fa fa-plus"></span> Add All
        	</button> 
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-remove">
        		<span class="fa fa-minus"></span> Remove All
        	</button>	
        </div>
        <div class="col-md-6">
	        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
	        <button type="button" class="btn btn-primary">SAVE FAVORITES</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Favorite Modal Definition -->


<!-- Start: Detailed Info Board Of Program-->

<div class="modal fade bd-example-modal-lg" id = "pro_info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="channel-info"></div>
      <div class="pro-info"></div>
    </div>
  </div>
</div>

<!-- End: Detailed Info Board -->

<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		var tv_listing;
		var start_t;
		var channel_list;
		var all_channels;

		function init_date_picker() {
			var tmp_html = '';	
			var loop_date = moment(start_t);

			for (var i = 0; i < 14; i++) {
				tmp_html = tmp_html + "<option value='" + loop_date.format('YYYY-MM-DD HH:mm:ss Z') + "'>" + loop_date.format("dddd, MMM D") + "</option>";
				loop_date = moment(loop_date).add(1, 'day');
			}

			$('#listings-date-picker-date-select').html(tmp_html);

			$('#listings-date-picker-date-select option[value="' + moment(start_t).format('YYYY-MM-DD HH:mm:ss Z') + '"]').attr("selected", "selected");
		}

		function display_favorite_channels() {
			var tmp_html = '';
			
			for (var i = 0; i < all_channels.length; i++) {
				var glyphicon;
				var val;
				glyphicon = 'glyphicon-plus';
				val = false;

				for(var j = 0; j < channel_list.length; j++) {
					if((channel_list[j].s_number == all_channels[i].s_number) && (channel_list[j].s_id == all_channels[i].s_id)) {
						glyphicon = 'glyphicon-ok';
						val = true;
						break;
					}
				}

				tmp_html = tmp_html + '<div class="col-md-12 row-padding" data-callsign="' + all_channels[i].callsign + '" data-s-num="' + all_channels[i].s_number + '"><span style="margin-right: 10px"><img src="http://cdn.tvpassport.com/image/station/100x100/' + all_channels[i].logo_file_name + '" style="width: 30px; height: 20px"></span><span class="keys">' + all_channels[i].callsign + '</span><span class="keys"> ' + all_channels[i].s_number + '</span><span class="pull-right glyphicon ' + glyphicon + '"></span><input type="hidden" name="status[' + all_channels[i].s_id.toString() + '_' + all_channels[i].s_number + ']" value=' + val + '></div>';	
			}

			$('#searchable-container').html(tmp_html);

			$('#searchable-container .glyphicon').on('click', function(){
				if($(this).hasClass('glyphicon-ok')) {
					$(this).removeClass('glyphicon-ok');
					$(this).addClass('glyphicon-plus');
					$(this).parent().find("input").attr('value', false);
				} else {
					$(this).removeClass('glyphicon-plus');
					$(this).addClass('glyphicon-ok');	
					$(this).parent().find("input").attr('value', true);
				}	
			});
			$('#searchable-container', $("#gridSystemModal")).searchable({
		        searchField: '#container-search',
		        selector: '.col-md-12.row-padding',
		        childSelector: 'span.keys',
		        show: function( elem ) {
		            elem.slideDown(100);
		        },
		        hide: function( elem ) {
		            elem.slideUp( 100 );
		        }
		    });
		}

		function click_for_detail() {
			var c_list_id = $(this).attr('data-list-id');
			var ch_html;
			var pro_html;

			ch_html = '<span><img src="http://cdn.tvpassport.com/image/station/100x100/' + tv_listing[c_list_id].logo_file_name + '" style="width: 100px; height: 100px"></span><span class="listings-channel-number-name"><span class="listings-channel-number-name-inner"><span class="listings-channel-number">' + tv_listing[c_list_id].s_number + '</span><span class="listings-channel-name">' + tv_listing[c_list_id].callsign + '</span></span></span>';
			$('#pro_info .channel-info').html(ch_html);
	
			pro_html = "<div><span style='font-size: 20px'>" + (tv_listing[c_list_id].episode_title == '' ? tv_listing[c_list_id].show_name : tv_listing[c_list_id].episode_title) + "</span><span class='pull-right " + (tv_listing[c_list_id].new == true ? 'tag' : '') + "'>" + (tv_listing[c_list_id].new == true ? 'NEW' : '') + "</span><span class='pull-right " + (tv_listing[c_list_id].live == true ? 'tag' : '') + "'>" + (tv_listing[c_list_id].live == true ? 'LIVE' : '') + "</span><span class='pull-right " + (tv_listing[c_list_id].rating == '' ? '' : 'tag') + "'>" + tv_listing[c_list_id].rating + "</span></div>"

			pro_html = pro_html + "<div style='margin-top: 15px'>Air Time: " + moment(tv_listing[c_list_id].list_date_time).format('h:mm A') + " (" + moment.duration(tv_listing[c_list_id].duration, "minutes").format("h [hr] m [min]") + ")" + "</div>";
			pro_html = pro_html + "<div style='margin-top: 15px'>" + tv_listing[c_list_id].description + "</div>";

			if(moment().diff(moment(tv_listing[c_list_id].list_date_time).add(tv_listing[c_list_id].duration, 'm')) < 0) {
				pro_html = pro_html + "<div style='margin-top: 15px'><button type='button' class='btn btn-primary' style='margin-right: 20px'>WATCHLIST</button><button type='button' class='btn btn-danger'>RECORD</button></div>";
			}
			$('#pro_info .pro-info').html(pro_html);

			$('#pro_info').modal('show');
		}

		function initialize() {
			$('#cur_now').val(moment().format('YYYY-MM-DD HH:mm:ss Z'));
			$('#utc_locale').val(moment().utcOffset());

			tv_listing = <%= raw @tv_listing.to_json %>;
			start_t = "<%= raw @start_t %>"
			console.log(tv_listing);
			all_channels = <%= raw @all_channels.to_json %>;
			channel_list = <%= raw @favorite_channels.to_json %>;

			init_date_picker();
			$('.listings-picker-select').attr('disabled', 'disabled');
			$('#listings-date-time-picker-go').attr('disabled', 'disabled');
			$("#listings-date-picker-date-select").select2({width: '100%'});
			$("#listings-date-picker-time-select").select2({width: '65%'});

			$('.date-board p').html("<%= raw @search_word %>");

			display_favorite_channels();
		}

		initialize();

		function display_tv_listing() {
			var tmp_html = '';
			if(tv_listing.length == 0) {
				tmp_html = tmp_html + '<div class="center">No data to display</div>';
				$('#yield-area').addClass('no-data-board');
			} else {
				tmp_html = tmp_html + '<ul>';
				var loop_date = moment(tv_listing[0].list_date_time).set({'hour': 0, 'minute': 0, 'second': 0});
				tmp_html = tmp_html + "<li class='listings-timebar'>" + loop_date.format('dddd, MMMM D, YYYY') + "</li>"

				for (var i in tv_listing) {
					if(loop_date.diff(moment(tv_listing[i].list_date_time).set({'hour': 0, 'minute': 0, 'second': 0})) != 0) {
						loop_date = moment(tv_listing[i].list_date_time).set({'hour': 0, 'minute': 0, 'second': 0});
						tmp_html = tmp_html + "<li class='listings-timebar'>" + loop_date.format('dddd, MMMM D, YYYY') + "</li>"

					} 

					tmp_html =  tmp_html + '<li data-channel-number="' + tv_listing[i].channel_number + '" data-channel-source="' + tv_listing[i].s_id + '" data-channel-name="' + tv_listing[i].callsign + '"><a href="' + tv_listing[i].web_link + '" class="listings-channel" style="width: 17.7%;"><span><img src="http://cdn.tvpassport.com/image/station/100x100/' + tv_listing[i].logo_file_name + '" style="width: 30px; height: 20px"></span><span class="listings-channel-number-name"><span class="listings-channel-number-name-inner"><span class="listings-channel-number">' + tv_listing[i].s_number + '</span><span class="listings-channel-name">' + tv_listing[i].callsign + '</span></span></span></a><a href="#" class="listings-program" style="width: 82.3%;" data-callsign="' + tv_listing[i].callsign + '" data-chan-num="' + tv_listing[i].s_number + '" data-list-id="' + i + '"><span class="listings-program-inner"><span class="listings-program-title">' + tv_listing[i].episode_title + '</span><span class="listings-program-time">' + moment(tv_listing[i].list_date_time).format('h:mm A') + ' (' + moment.duration(tv_listing[i].duration, "minutes").format("h [hr] m [min]") + ')</span></span></a></li>';
				}

				tmp_html = tmp_html + '</ul>';
			}

			
			$('#yield-area').html(tmp_html);
		}

		display_tv_listing();
		
		$('#listings-search-submit').on("click", function(){
			if($("#listings-search-term").val() == '') return;
			$('#tvForm').attr("action", "show");
			$('#tvForm').submit();
		});

		$('#gridSystemModal .btn-primary').on('click', function(){
			$('#changed').val(true);
			$('#search_word').val("<%= raw @search_word %>");
			$('#gridSystemModal').modal('hide');
			$('#tvForm').attr("action", "show");
			$('#tvForm').submit();	
		});

		$('#listings-favorites-button').on('click', function() {
			$('#searchable-container .col-md-12.row-padding').each(function(){
				var exist = false;
				for(var i = 0; i < channel_list.length; i++) {
					if(channel_list[i].callsign == $(this).attr('data-callsign') && channel_list[i].s_number == $(this).attr('data-s-num')) {
						exist = true;
						break;
					}
				}

				if(exist) {
					$(this).find('span:nth-child(4)').attr('class', 'pull-right glyphicon glyphicon-ok');
				} else {
					$(this).find('span:nth-child(4)').attr('class', 'pull-right glyphicon glyphicon-plus');
				}
			});	
		});

		$('.listings-program').on('click', click_for_detail);
	});
</script>








