
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>N2me.tv - Live TV, Movies, News, Sports, Events & More</title>
    <script type="application/javascript" src="https://content.jwplatform.com/libraries/B2tmYadP.js"></script>
    <%= stylesheet_link_tag 'new_layout' %>
    <%= stylesheet_link_tag 'pages/style' %>

</head>
<style>
*{font-family:"Open Sans","Helvetica Neue",Arial,sans-serif;}
.list-group-item{border:none;}
.navbar-default {background-color: rgba(0, 0, 0, 0.55);}
</style>
<body id="page-top">

  <% if current_user.present? %>
    <div class="desktop-navbar n2me-navbar">
      <%= render 'layouts/new/navbar' %>
    </div>
    <div class="mobile-navbar n2me-navbar">
      <%= render 'layouts/new/navbar' %>
    </div>
  <% else %>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top nav-1">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="padding-top: 7px;">
                  <img src="<%= image_path 'n2me-logo-box.png' %>" height="40" style="height: 40px !important;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#content">Streaming Content</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Live Preview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li class="login">
                        <a class="page-scroll" href="<%= new_user_session_path %>" style="border: 2px solid;border-radius: 17px;padding: 8px;">
                          Login <i class="fa fa-user"></i>
            </a>
                    </li>
                    <li class="login f-r">
                        <a class="page-scroll" href="<%= new_user_registration_path %>" style="border: 2px solid;border-radius: 17px;padding: 8px;">Register <i class="fa fa-file-text-o"></i>
</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  <% end %>
<!--
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>-->
  
    <div id="Carousel" class="carousel slide carousel-fade container-fluid no-pad caro">
        <ol class="carousel-indicators">
            <li data-target="Carousel" data-slide-to="0" class="active"></li>
            <li data-target="Carousel" data-slide-to="1"></li>
            <li data-target="Carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
           <div class="item active">
             <img src="img/slider/img2.jpg" class="img-responsive" style="width:100%;height:507px;">
            </div>
            <div class="item">
             <img src="img/slider/img5.jpg" class="img-responsive" style="width:100%;height:507px;">
            </div>
        </div>

        <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
  </div>
    
  <img src="img/index2.jpg" class="fullwidth"/>
    
    <section>
    
      <div class="container">
                <div class="row">
                  <div class="col-md-12 txt-cnt wow bounceIn">
                    <a name="content"></a><h1 style="letter-spacing: 6px;text-transform:uppercase;">
            Say Goodbye to Your Cable Bill!
          </h1>
                    <p>On demand access to your favorite shows on 350 streaming live TV channels. Movies, Online Games, Concerts, Boxing, &amp; More.. <br>Buy a package or per Channel! Prices starting at $0.99</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                          <div class="list-group">
                            <a href="#" class="list-group-item active text-center no-bor" >
                              
                              <h4 class="no-mar txt-cap " style="text-align:left;padding-left:10px;font-size: 17px;" >
                                <i class="fa fa-globe fa-2x" style="vertical-align: middle;"></i> &nbsp; Live TV Channels
                              </h4>
                            </a>
                            <a href="#" class="list-group-item text-center no-bor">
                              <h4 class="no-mar txt-cap" style="text-align:left;padding-left:10px;font-size: 17px;">
                                 <i class="fa fa-newspaper-o fa-2x" style="vertical-align: middle;"></i> &nbsp;  News & Sports
                               </h4>
                            </a>
                            <a href="#" class="list-group-item text-center no-bor">
                              <h4 class="no-mar txt-cap" style="text-align:left;padding-left:10px;">
                                <i class="fa fa-bullhorn fa-2x" style="vertical-align: middle;"></i> &nbsp;  Live Events
                                </h4>
                            </a>
                            <a href="#" class="list-group-item text-center no-bor">
                            
                               <h4 class="no-mar txt-cap" style="text-align:left;padding-left:10px;font-size: 17px;">
                                <i class="fa fa-music fa-2x" style="vertical-align: middle;"></i> &nbsp;  Music
                               </h4>
                            </a>
                            
                            <a href="#" class="list-group-item text-center no-bor">
                              
                               <h4 class="no-mar txt-cap" style="text-align:left;padding-left:10px;font-size: 17px;">
                                <i class="fa fa-gamepad fa-2x" style="vertical-align: middle;"></i> &nbsp;  Online Games
                               </h4>
                              
                            </a>
                            
                            <a href="#" class="list-group-item text-center no-bor">
                            
                               <h4 class="no-mar txt-cap" style="text-align:left;padding-left:10px;font-size: 17px;"> 
                                  <i class="fa fa-book fa-2x"></i> &nbsp;  E-books
                                </h4>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                            <!-- flight section -->
                            <div class="bhoechie-tab-content active">
                                <center>
                                  
                                 
                                  <h2 style="margin-top: 0;color:#69696E;">Live TV Channels</h2>
                                    <div class="col-md-6 pad-top-1">
                                    <p style="margin-top: 0;color:#69696E;line-height:2;text-align: left;">


NBA, NFL, College Basketball, and College Football - all live and on your favorite device. Catch March Madness, the 2016 NBA All Star Game, the NHL Playoffs and more on TNT. Get the best live shows like Sports Center, Mike and Mike and Pardon the Interruption plus NFL Playoffs, The NBA, College Basketball Championship Week and so much more on ESPN and ESPN2.
                  </p>
                                    </div>
                                    <div class="col-md-6 pad-top-1">
                                      <img src="img/portfolio/1.jpg" class="img-responsive">
                                    </div>  
                                </center>
                            </div>
                            <!-- train section -->
                            <div class="bhoechie-tab-content">
                                <center>
                                  
                                  <h2 style="margin-top: 0;color:#69696E;">News &amp; Sports</h2>
                                   <div class="col-md-12">
                                   <p style="margin-top: 0;color:#69696E;line-height:2;">


Live breaking news on CNN and Bloomberg as well as hit news shows from Anderson Cooper, Wolf Blitzer, Erin Burnett, and Nancy Grace. All of it live and at your fingertips.

                 </p>
                                 </div>
                                 <div class="col-md-8 col-md-offset-2 pad-bot-1">
                                  <img src="img/portfolio/2.jpg" class="img-responsive">  
                                 </div>
                                </center>
                            </div>
                
                            <!-- hotel search -->
                            <div class="bhoechie-tab-content">
                                <center>
                                
                                  <h2 style="margin-top: 0;color:#69696E;">Live Events</h2>
                                </center>                                   
                                   <div class="col-md-12 pad-top-1">
                                    <p style="margin-top: 0;color:#69696E;line-height:2;">
Get access to live streaming events from around the world. Watch live boxing events, live concerts, MMA fights, and live festivals.

                 </p> 
                                 </div>
                                 
                                 <div class="col-md-8 pad-bot-1">
                                  <img src="img/portfolio/3.jpg" class="img-responsive">
                                 </div>
                                 

                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                 
                                  <h2 style="margin-top: 0;color:#69696E;">Music</h2>
                                </center>
                                <p style="margin-top: 0;color:#69696E;line-height:2;">
                                   N2ME.TV
is a comprehensive and in-depth resource for finding out more about the albums, bands, musicians and songs you love.
On N2ME.TV you'll find:
<ul>
<li>In-Depth Information about your favorite albums, musicians and songs</li>
<li>Reviews of upcoming and classic albums including new releases</li>
<li>Ratings and picks of the recommended albums and songs within an artist's discography or tracks on an album</li>
<li>Staff picks of the albums our editors are into right now</li>
<li>Sound samples and streaming links to listen to the music</li>
<li>Personalized recommendations of albums that match your tastes</li>
</ul>
                 </p> 

                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                 
                                  <h2 style="margin-top: 0;color:#69696E;">Online Games</h2>
                                   <p style="margin-top: 0;color:#69696E;line-height:2;">
Online games are one of the most chosen platforms for entertainment.  N2ME.TV provides the best online games in a single location. With access to big game servers across 72 countries, we provide a bridged connection for fast streaming games with just one click. Millions of happy customers worldwide!
                 </p> 
                                </center>
                            </div>
                            
                            <div class="bhoechie-tab-content">
                                <center>
                                  
                                  <h2 style="margin-top: 0;color:#69696E;">E-Books Coming Soon!</h2>
                                   <p style="margin-top: 0;color:#69696E;line-height:2;">
N2ME is preparing to launch the largest E-Book library on the Web.
                 </p> 
                                </center>
                            </div>
                        </div>
                    </div>
              </div>
    </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">More Reasons to Subscribe</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn" style="color: #fff;"></i>
                        <h3>International</h3>
                        <p>More than 350 channels local and international.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn" style="color: #fff;" data-wow-delay=".1s"></i>
                        <h3>Live Events</h3>
                        <p>Live Events all over the World at one place.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn" style="color: #fff;" data-wow-delay=".2s"></i>
                        <h3>Online Games</h3>
                        <p>Data Centers to connect to live servers for gaming</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn" style="color: #fff;" data-wow-delay=".3s"></i>
                        <h3>Movies & TV</h3>
                        <p>A huge collection of movies and tv shows worldwide</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid" style="background-color: #fff;">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#live-tv" href="http://beta.n2me.tv/categories/1422917786" class="portfolio-box">
                        <img src="img/portfolio/livetv.png" class="img-responsive" alt="" >
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#movies" href="http://beta.n2me.tv/categories/1422917786" class="portfolio-box">
                        <img src="img/portfolio/movies.png" class="img-responsive" alt="">
                       
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#events" href="http://n2me-test.herokuapp.com/categories/1423429520" class="portfolio-box">
                        <img src="img/portfolio/events.png" class="img-responsive hidesixth" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#music" href="http://beta.n2me.tv/music" class="portfolio-box">
                        <img src="img/portfolio/music.png" class="img-responsive" alt="">
                       
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#games" href="http://beta.n2me.tv/categories/1422405926" class="portfolio-box">
                        <img src="img/portfolio/games.png" class="img-responsive" alt="">
                      
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a data-modal="#ebooks" href="#" class="portfolio-box">
                        <img src="img/portfolio/ebooks.png" class="img-responsive" alt="" id="sixthimage">
                     
                    </a>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>N2ME.TV has No Strings Attached! There are No Contracts and No Buffering. Stream live TV, Movies, Events, Games, and E-Books!</h2>
                <a href="<%= products_path %>" class="btn btn-default btn-xl wow tada">Subscribe Now!</a>
            </div>
        </div>
    </aside>
    
    <section style="background-color:#439FE0;">
      <div class="container-fluid">
  <div class="row rowmakeeven">
      <a name="pricing"></a><div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:#fff;letter-spacing: 6px;text-transform:uppercase;">Pricing</h2>
                </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-12 col-xs-12 colmakeeven">
            <div class="panel panel-primary" style="background-color:transparent;border:none;">
                <div>
                    
                    <span>
                        <!-- Tabs -->
                        <ul class="nav panel-tabs nav2">
                            <li class="active"><a href="#tab1" data-toggle="tab"> <i class="fa fa-newspaper-o fa-3x"></i> <br>News</a></li>
                            <li><a href="#tab2" data-toggle="tab"> <i class="fa fa-flag-checkered fa-3x"></i> <br> Sports</a></li>
                            <li><a href="#tab3" data-toggle="tab"> <i class="fa fa-film fa-3x"></i> <br>Movies</a></li>
                            <li><a href="#tab4" data-toggle="tab"> <i class="fa fa-bookmark-o fa-3x"></i> <br> Add Ons</a></li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body pb2 colmakeeven">
                    <div class="tab-content tab-tv-section">
                        <div class="tab-pane active" id="tab1">
              <div class="col-md-12 col-sm-12 col-xs-12 no-pad cnt">                          
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/news/4.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/news/1.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/news/2.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="img/price-img/news/3.png"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt"> 
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/5.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/6.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/7.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 ">
                                  <img src="img/price-img/news/8.png"  style="width:122px;height:107px;">
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt">
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/9.png"  style="width:122px;height:107px;">
                                </div> 
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/10.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/news/12.png"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                  <img src="img/price-img/news/11.png"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                             
                               
                        </div>
                        <div class="tab-pane " id="tab2">
                          <div class="col-md-12 col-sm-12 col-xs-12 no-pad cnt">                          
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/sports/4.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/sports/1.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/sports/2.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="img/price-img/sports/3.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt"> 
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/sports/5.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/sports/6.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/sports/7.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 ">
                                  <img src="img/price-img/sports/8.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt">
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/sports/9.jpg"  style="width:122px;height:107px;">
                                </div> 
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/sports/10.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                               
                                  <img src="img/price-img/sports/12.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                  <img src="img/price-img/sports/11.jpg"  style="width:122px;height:107px;">
                                  <br />
                                </div>
                            </div> 
                        
                        </div>
                        <div class="tab-pane" id="tab3">
                          <div class="col-md-12 col-sm-12 col-xs-12 no-pad cnt">                          
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/movies/4.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/movies/1.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/movies/2.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="img/price-img/movies/3.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt"> 
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/movies/5.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/movies/6.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/movies/7.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 ">
                                  <img src="img/price-img/movies/8.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt">
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/movies/9.jpg"  style="width:122px;height:107px;">
                                </div> 
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/movies/10.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                               
                                  <img src="img/price-img/movies/12.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                  <img src="img/price-img/movies/11.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                        </div>
                        <div class="tab-pane" id="tab4">
                          <div class="col-md-12 col-sm-12 col-xs-12 no-pad cnt">                          
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/addons/4.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/addons/1.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                    <img src="img/price-img/addons/2.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="img/price-img/addons/3.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div> 
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-top-1 tv-new-2 cnt"> 
                              <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/addons/5.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/addons/6.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 tab-tv-section">
                                  <img src="img/price-img/addons/7.jpg"  style="width:122px;height:107px;">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 ">
                                  <img src="img/price-img/addons/8.jpg"  style="width:122px;height:107px;">
                                </div>
                            </div>
                            
                          <br />
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12 col-xs-12 colmakeeven"  style="background-color:#fff;padding:0px 40px 40px; color: #000;">
                <h3 style="color: #000;">No Set-up Fees, Cancel AnyTime - Get Rid of Cable! </h3>
                <h4 style="font-weight:bold;color: #000;">WATCH Your Favorite Content on ANY Device</h4>
                <p> <img src="http://862525175.r.cdn77.net/wp-content/uploads/2012/01/gtv-onlive2.jpg" class="buy-now-img"> </p>
                <h4  style="font-weight:bold;color:#439FE0"> INCLUDES </h4> 
                <p>Cloud TV Is HERE: Access to over 350 Live TV Channels <br>
                    Watch on any connected device, laptop, <br>
                    tablet or phone, No Buffering, HD Quality! <br>
                    Get real-time stats and scores
                </p>
    
                <a style="visibility: visible; animation-name: tada;background-color:#439FE0;color:#fff;" href="<%= products_path %>" class="btn btn-default btn-xl wow tada">Buy Now</a>

        </div>
        
        </div>
        
        
  </div>
</div>
    </section>
    <section style=" background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner.jpg);background-size:100%;color:#fff;background-attachment:fixed;">
    <div class="container txt-cnt">
      <h3 style="letter-spacing: 6px;">Join the N2ME Revolution!</h3>
        <% if current_user.present? %>
          <a style="visibility: visible; animation-name: tada; color:#439FE0" href="<%= products_path %>" class="btn btn-default btn-xl wow tada">Subscribe Now!</a>
        <% else %>
          <a style="visibility: visible; animation-name: tada; color:#439FE0" href="<%= new_user_session_path %>" class="btn btn-default btn-xl wow tada">Sign up Now!</a>
        <% end %>
        
    </div>
    </section>

  <!--  <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-md-6">
                  <form class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-10">
                <input type="text" id="inputSuccess" class="form-control frm" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
              <div class="col-xs-10">
                <input type="email" id="inputSuccess" class="form-control frm" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
              <div class="col-xs-10">
                <input type="text" id="inputSuccess" class="form-control frm" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
              <div class="col-xs-10">
                <textarea type="text" id="inputSuccess" class="form-control frm" placeholder="Your Message" rows="5">
                                </textarea>
                            </div>
                        </div>
                        <button style="visibility: visible; animation-iteration-count: 2; animation-name: pulse;" type="submit" class="btn btn-blue wow pulse" data-wow-iteration="2">GIVE US A SHOUT</button>
                        
                    </form>            
                        
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@tv-channel.com</a></p>
                </div>
            </div>
        </div>
    </section>-->

    <!-- Modals -->
    <div id="live-tv" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Live TV</h4>
          </div>
          <div class="modal-body">
            <%= render 'media/player', media: MPX::Media.find_by_number(1428037766) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="movies" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Movies</h4>
          </div>
          <div class="modal-body">
            <%= image_tag('/img/portfolio/movies-1.jpg', class: 'img-thumbnail hoverimage') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div id="events" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Live Events</h4>
          </div>
          <div class="modal-body">
            <%= render 'media/player', media: MPX::Media.find_by_number(605253547) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="music" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Music</h4>
          </div>
          <div class="modal-body">
            <%= image_tag('/img/portfolio/music-1.jpg', class: 'img-thumbnail hoverimage') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <div id="games" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Games</h4>
          </div>
          <div class="modal-body">
            <%= image_tag('/img/portfolio/games-1.jpg', class: 'img-thumbnail hoverimage') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="ebooks" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Games</h4>
          </div>
          <div class="modal-body">
            <%= image_tag('/img/portfolio/ebooks-1.jpg', class: 'img-thumbnail hoverimage') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <%= render 'layouts/new/footer' %>

    <%= javascript_include_tag 'pages/scripts' %>
<script>
    
    $('[data-modal]').click(function(e){
      e.preventDefault();
      $($(this).attr('data-modal')).modal('show');
      return false;
    });
      

    $(function () {
      var rotateInterval;
      $(".hoverimage").hover(
        function () {
          var img = $(this);

          if (img.hasClass("hidesixth")) {
            $("#sixthimage").hide();
          }

          img.addClass("transition");

          var offset = img.offset();
          var newWidth = img.width() * 1.2;

          if (offset.left < 0) {
            img.css("position", "relative");
            img.css("left", Math.abs(offset.left) + "px");
          } else if (
            offset.left + newWidth > $( window ).width()
              ) {
            img.css("position", "relative");
            img.css("left", ($( window ).width() - (offset.left + newWidth)) + "px");
          }
          var parts = img.attr("src").split(".");
          var imgIndex = 1;

          var rotateImage = function () {
            img.attr("src", parts[0].replace(/(-\d)$/, '') + "-" + imgIndex + ".jpg");
            imgIndex++;
            if (imgIndex > 3) {
              imgIndex = 1;
            }
          };

          rotateInterval = window.setInterval(rotateImage, 3000);
          rotateImage();
        },
        function () {
          window.clearInterval(rotateInterval);
          var base = $(this).attr("src").split("-")[0].split(".")[0];
          var img = $(this);
          img.css("left", "0");
          img.attr("src", base + "-1.jpg");
          img.removeClass("transition");
          $("#sixthimage").show();
        });
    });


</script>

</body>

</html>
