<% content_for :head do %>
  <script type="application/javascript" src="https://content.jwplatform.com/libraries/B2tmYadP.js"></script>
  <%= stylesheet_link_tag 'new_layout' %>
  <%= stylesheet_link_tag 'pages/style' %>


  <style>
    *{font-family:"Open Sans","Helvetica Neue",Arial,sans-serif;}
    .list-group-item{border:none;}
    .navbar-default {background-color: rgba(0, 0, 0, 0.55);}
  </style>
    <link href="http://www.rpm-web.com/n2me-front/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/css/theme.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/css/et-line-icons.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/fonts/lovelo/stylesheet.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="http://www.rpm-web.com/n2me-front/css/custom.css" rel="stylesheet" type="text/css">
    <link href="http://www.rpm-web.com/n2me-front/css/colors/blue.css" id="color-scheme" rel="stylesheet" type="text/css">
<% end %>

<!-- Hero -->
<section class="hero-fullscreen hero-video overlay">

  <video youtube-video-id="rrNL9RlPDk0" id="vossen-youtube"></video>

  <div class="hero-container">
    <div class="hero-content text-center">

      <div class="col-sm-12 mr-auto white text-center pt20">
        <p class="subheading">N2ME.TV has No Strings Attached! There are No Contracts and No Buffering.<br /> Stream live TV, Movies, Music, Events, Games, and E-Books!</p>
        <h1 class="large mt20 mb20">Say <span class="bold">Goodbye</span> to Your <span class="bold">Cable Bill!</span></h1>
        <p class="hidden-xs">On demand access to your favorite shows on 350 streaming live TV channels. Movies, Online Games, Concerts, Boxing, & More.<br />
          Buy a package or per Channel! Buy individual channels from $0.99</p>
        <div class="col-md-12 mb40">
          <a href="#" class="btn btn-ghost-color btn-fullwidth mt30"> Day Unlimited Access Free Trial > Signup Now!</a>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-scroll mt30">7 Day Free Trial > Signup Now!</a>
      </div>


    </div>
  </div>

</section>
<!-- End Hero -->
<!-- Callout -->
<section class="pt40 pb20">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <h5 class="subheading">All your favorite Tv Channels, Movies, Games, Music Ebooks & More!</h5>
        <h2>No <span class="bold">Contracts</span> & NO  <span class="bold">Buffering</span></h2>
      </div>

    </div>
  </div>
</section>
<!-- End Callout -->
<!-- Box Style 7, 8 -->
<section class="parallax overlay bg-shortcodes">
  <div class="container pt60 pb60">
    <div class="row">
      <div class="col-md-6 mt40 mb40">
        <div class="box box-style8">
          <a href="#"><i class="ion-ios-cloud-upload-outline size-4x"></i></a>
          <div class="pl80">
            <h4 class="white">Subscribe <strong>ONLY</strong> to the Channels <strong>YOU</strong> Watch<br>
              Choose From Monthly A La Carte Channels</h4>

            <p>
              <%= image_tag "new_layout/n2me/img/channel-logos.png", {width: "437", height: "146"} %>
              <!-- <img src="img/img/channel-logos.png" width="437" height="146" alt=""/> -->
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt40 mb40">
        <div class="box box-style7">
          <a href="#"><i class="ion-ios-loop size-4x"></i></a>
          <div class="pl80">
            <h4 class="white">Live TV & Streaming Media Your Way!<br />
              The Ultimate Personalized Media Platform</h4>
            <p>
              <%= image_tag "new_layout/n2me/img/watch-anywhere-banner.png", {width: "437", height: "146"} %>
              <!-- <img src="img/img/watch-anywhere-banner.png" width="437" height="146" alt=""/> -->
            </p>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
<!-- End Box Style 7, 8 -->

<!-- Image Column -->
<section class="pt40 pb80">
  <div class="container">
    <div class="vertical-align">

      <div class="col-md-6">
        <div class="slider-block-1 owl-carousel navigation-thin pagination-in">
          <%= image_tag "new_layout/n2me/app/6.png", class: "img-responsive mr-auto" %>
          <%= image_tag "new_layout/n2me/app/movie-banner.jpg", class: "img-responsive mr-auto" %>
          <%= image_tag "new_layout/n2me/app/6.png", class: "img-responsive mr-auto" %>
          <!-- <img src="img/app/6.png" class="img-responsive mr-auto"> -->
          <!-- <img src="img/app/movie-banner.jpg" class="img-responsive mr-auto"> -->
          <!-- <img src="img/app/6.png" class="img-responsive mr-auto"> -->
        </div>
      </div>

      <div class="col-md-6 p5percent">
        <h2>Meet The <strong>N2ME SuperCloud</strong></h2>
        <h4 class="subheading">Unmatched Streaming Content Library | All Your Entertainment in One Place!</h4>
        <p class="mt30">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Collaboratively administrate empowered markets. Innovate empowered manufactured products whereas.</p>
        <a href="http://themeforest.net/user/vossendesign/portfolio" class="btn btn-lg btn-primary btn-circle btn-appear mt20"><span>Purchase Now <i class="ion-checkmark"></i></span></a>
      </div>

    </div>
  </div>
</section>
<!-- End Image Column -->
<!-- Features -->
<section class="parallax overlay bg-img-6">
  <div class="container pt40 pb40">
    <div class="row">

      <div class="col-md-12 text-center white progress-circle-icon">
        <h2>More Reasons to Subscribe</h2>
        <div class="progress-circle style-1"  data-circle-percent="64" data-circle-text="Live TV">
          <i class="icon-desktop"></i>
          <!-- Change circle percent & text in attributes above -->
          <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle></svg>
        </div>

        <div class="progress-circle style-1"  data-circle-percent="44" data-circle-text="Movies">
          <i class="icon-video"></i>
          <!-- Change circle percent & text in attributes above -->
          <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle></svg>
        </div>

        <div class="progress-circle style-1"  data-circle-percent="86" data-circle-text="Music">
          <i class="icon-genius"></i>
          <!-- Change circle percent & text in attributes above -->
          <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle></svg>
        </div>

        <div class="progress-circle style-1"  data-circle-percent="52" data-circle-text="Live Events">
          <i class="icon-megaphone"></i>
          <!-- Change circle percent & text in attributes above -->
          <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle></svg>
        </div>

      </div>


    </div>
  </div>
</section>
<!-- End Features -->
<!-- Image Column -->
<section class="pt20 pb80">
  <div class="container">
    <div class="vertical-align">

      <div class="col-md-6 p5percent">
        <h2>Watch <strong>LIVE TV</strong> On Any <strong>Device,</strong> Any Time - <strong>Period!</strong></h2>
        <h4 class="subheading">Access: Live TV | Movies | Music | Ebooks | Games | & More!</h4>
        <p class="mt30">Access our content on ANY device. Web, Phones, Tablets, TV's, Game Systems, & More! Try our premium Apple, Android, Roku, & TV Apps for a personlized experience, or simply enjoy your favorite TV shows directly through your web browser on a PC or Mac. Your account credentials are valid for accessing N2Me Media on all devices.</p>
        <p>Stop suffering through hundreds of channels just to find nothing on TV. Start enjoying the best of live TV without the overpriced Cable Company</p>
        <a href="http://themeforest.net/user/vossendesign/portfolio" class="btn btn-lg btn-primary btn-circle btn-appear mt20"><span>Purchase Now <i class="ion-checkmark"></i></span></a>
      </div>

      <div class="col-md-6">
        <div class="slider-block-1 owl-carousel navigation-thin pagination-in">
          <%= image_tag "new_layout/n2me/mobile2.jpg", class: "img-responsive mr-auto" %>
          <%= image_tag "new_layout/n2me/mobile3.png", class: "img-responsive mr-auto" %>
          <%= image_tag "new_layout/n2me/mobile4.jpg", class: "img-responsive mr-auto" %>
          <!-- <img src="img/mobile2.jpg" class="img-responsive mr-auto">
          <img src="img/mobile3.png" class="img-responsive mr-auto">
          <img src="img/mobile4.jpg" class="img-responsive mr-auto"> -->
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Image Column -->

<!-- Skills -->
<section class="parallax overlay bg-img-3">
  <div class="container pt70 pb70">
    <div class="row-flex-center">

      <div class="col-md-5 text-left pr30 mt40 mb50 white">

        <div class="video-container">
          <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-md-7 mt60 mb40 white">
        <div class="progress-bars-3">
          <p>Live TV Channels</p>
          <div class="progress white" data-percent="10%">
            <div class="progress-bar">
              <span class="progress-bar-tooltip">250</span>
            </div>
          </div>
          <p>Movie Database</p>
          <div class="progress white" data-percent="25%">
            <div class="progress-bar progress-bar-primary">
              <span class="progress-bar-tooltip">15000</span>
            </div>
          </div>
          <p>Music Library</p>
          <div class="progress white" data-percent="70%">
            <div class="progress-bar progress-bar-primary">
              <span class="progress-bar-tooltip">4000000</span>
            </div>
          </div>
          <p>Ebooks</p>
          <div class="progress white" data-percent="82%">
            <div class="progress-bar progress-bar-primary">
              <span class="progress-bar-tooltip">350000</span>
            </div>
          </div>
          <p>Games</p>
          <div class="progress white" data-percent="82%">
            <div class="progress-bar progress-bar-primary">
              <span class="progress-bar-tooltip">250</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Skills -->

<!-- Fun Facts -->
<section id="fun-facts" class="bg-dark">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 counter">
        <h1>350</h1>
        <h5>Live TV Channels (HD Available)<br />
          Your Favorite TV Shows, Anywhere</h5>
      </div>
      <div class="col-sm-3 counter">
        <h1>15,000</h1>
        <h5>N2ME's Exclusive Movie Database - New Releases & Fan Favorites</h5>
      </div>
      <div class="col-sm-3 counter">
        <h1>500,000</h1>
        <h5>eBooks, One of the Largest Downloadable Librarys Available</h5>
      </div>
      <div class="col-sm-3 counter">
        <h1>250</h1>
        <h5>Countries Around the World! N2ME's Supercloud&#8482; Global </h5>
      </div>

    </div>
  </div>
</section>
<!-- End Fun Facts -->

<!-- Start Price List -->
<section class="pt80 pb40">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5 class="subheading">All your favorite TV Channels, Movies, Games, Music Ebooks & More!</h5>
        <h4>Build your own customizable Tv Guides, Watch List, Music Stations, Favorites & More!</h4>
        <h2>Stop <span class="bold">Paying For Channels</span>You Don't</span> <span class="bold">Watch!</span></h2>
        <h3>Customizable Monthly Packages & Individual Channels Available<br>Say Goodbye to your Cable Bill</h3>

      </div>
      <div class="col-md-3 price-table">
        <div class="price-box">
          <h4>Basic</h4>
          <h2 class="price-price">
            <span>FREE</span>
          </h2>
          <div class="price-features">
            <h5>Limited Live TV Channels</h5>
            <p>Tier 1 Movie Database</p>
            <p>SuperCloud's eBook Library</p>
            <p>Over 150 Online Games</p>
            <p>Streaming Music Access</p>
            <p>Chat & Video Social Network</p>
          </div>
          <a href="#" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="ion-android-arrow-forward"></i></span></a>
        </div>
      </div>

      <div class="col-md-3 price-table">
        <div class="price-box">
          <h4>Cloud French</h4>
          <h2 class="price-price">
            <sup>$</sup>
            <span>12.99<span>/ mo</span></span>
          </h2>
          <div class="price-features">
            <h5>Live French TV Channels</h5>
            <p>All BASIC Plan Channels +</p>
            <p>Over 150 French Channels</p>
            <p>Tier 1 Movie Database</p>
            <p>SuperCloud's eBook Library</p>
            <p>Over 150 Online Games</p>
            <p>Streaming Music Access</p>
            <p>Chat & Video Social Network</p>

          </div>
          <a href="#" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="ion-android-arrow-forward"></i></span></a>
        </div>
      </div>

      <div class="col-md-3 price-table">
        <div class="price-box">
          <h4>Cloud Latino</h4>
          <h2 class="price-price">
            <sup>$</sup>
            <span>14.99<span>/ mo</span></span>
          </h2>
          <div class="price-features">
            <h5>Live Español Tv Channels</h5>
            <p>All BASIC Plan Channels +</p>
            <p>Over 175 Español Channels</p>
            <p>Super Cloud's Movie Database</p>
            <p>SuperCloud's eBook Library</p>
            <p>Over 150 Online Games</p>
            <p>Streaming Music Access</p>
            <p>Chat & Video Social Network</p>
          </div>
          <a href="#" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="ion-android-arrow-forward"></i></span></a>
        </div>
      </div>

      <div class="col-md-3 price-table-featured">
        <div class="price-box">
          <h4>Cloud International</h4>
          <h2 class="price-price">
            <sup>$</sup>
            <span>24.99<span>/mo</span></span>
          </h2>
          <div class="price-features">
            <h5>All Our International Programming</h5>
            <p>All BASIC Plan Channels +</p>
            <p>Cloud Latino & French Channels</p>
            <p>Super Cloud's Movie Database</p>
            <p>SuperCloud's eBook Library</p>
            <p>Over 150 Online Games</p>
            <p>Streaming Music Access</p>
            <p>Chat & Video Social Network</p>
          </div>
          <a href="http://n2me-web.herokuapp.com/products" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="ion-android-arrow-forward"></i></span></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Price List -->
<hr class="separator center">

<!-- Pricing -->
<section class="pt20 pb20">
  <div class="container">
    <div class="vertical-align">

      <div class="col-md-6">
        <h2>Premium Add-Ons</h2>
        <h3>Movie Channels | VOD | Live Events</h3>
        <hr class="separator left">
        <h4 class="mt30">Choose from N2ME's Add On Cloud Services:</h4>
        <ul>
          <li><strong class="text-primary">Live Streaming Events:</strong> Festivals | Boxing & MMA | Concerts</li>
          <li><strong class="text-primary">Premium Movie & VOD Channels:</strong> HBO | Showtime | Starz | CineMax | Encore</p></li>
        </ul>

        <p> Enjoy on demand Box office hits, groundbreaking series, documentaries and sports. Watch ALL Your favorite Commercial-free original series</p>
        <!-- Team -->

        <div class="col-md-3 team">
          <div class="team-container">
            <div class="team-image">
              <%= image_tag "new_layout/n2me/team/1.jpg", class: "img-responsive" %>
              <!-- <img src="img/team/1.jpg" class="img-responsive" alt="" /> -->
            </div>
            <div class="team-caption">
              <div>
                <div>
                  <h4>Live Concerts</h4>
                  <p>Live HD Feeds</p>
                  <ul>
                    <li class="social-icon"><a href="#"><i class="ion-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team">
          <div class="team-container">
            <div class="team-image">
              <%= image_tag "new_layout/n2me/team/2.jpg", class: "img-responsive" %>
              <!-- <img src="img/team/2.jpg" class="img-responsive" alt="" /> -->
            </div>
            <div class="team-caption">
              <div>
                <div>
                  <h4>Music Festivals</h4>
                  <p>Live HD Feeds</p>
                  <ul>
                    <li class="social-icon"><a href="#"><i class="ion-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team">
          <div class="team-container">
            <div class="team-image">
              <%= image_tag "new_layout/n2me/team/3.jpg", class: "img-responsive" %>
              <!-- <img src="img/team/3.jpg" class="img-responsive" alt="" /> -->
            </div>
            <div class="team-caption">
              <div>
                <div>
                  <h4>Boxing Events</h4>
                  <p>Live HD Feeds</p>
                  <ul>
                    <li class="social-icon"><a href="#"><i class="ion-play"></i></a></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team">
          <div class="team-container">
            <div class="team-image">
              <%= image_tag "new_layout/n2me/team/4.jpg", class: "img-responsive" %>
              <!-- <img src="img/team/4.jpg" class="img-responsive" alt="" /> -->
            </div>
            <div class="team-caption">
              <div>
                <div>
                  <h4>MMA Events</h4>
                  <p>Live HD Feeds</p>
                  <ul>
                    <li class="social-icon"><a href="#"><i class="ion-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- End Team -->



      <div class="col-md-6">

        <div class="col-md-6 price-table event-price">
          <div class="price-box">
            <h4>HBO | ShowTime | Starz</h4>
            <h2 class="price-price">
              <sup>$</sup>
              <span>14.99</span>
            </h2>
            <div class="price-features">
              <h5>Choose From:</h5>
              <p>HBO Channel Package</p>
              <p>Showtime Channels</p>
              <p>Starz Channels</p>
            </div>
            <a href="#" class="btn btn-primary btn-md btn-appear"><span>Subscribe Now! <i class="ion-android-arrow-forward"></i></span></a>
          </div>
        </div>
        <div class="col-md-6 price-table-featured event-price">
          <div class="price-box">
            <h4>Premium Movie & Video on Demand Channels</h4>
            <h2 class="price-price">
              <sup>$</sup>
              <span>24.99</span>
            </h2>
            <div class="price-features">
              <h5>Full Premium Access:</h5>
              <p></p>
              <p>HBO | Starz | Showtime</p>
              <p>Premium Channel Partners:</p>
              <p>Hollywood.TV, MR. Pink, WCB</p>
            </div>
            <a href="#" class="btn btn-primary btn-md btn-appear"><span>Subscribe Now <i class="ion-android-arrow-forward"></i></span></a>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>
</section>
<!-- End Pricing -->
<!-- Callout -->
<section class="pt40 pb20">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <h5 class="subheading">All your favorite Tv Channels, Movies, Games, Music Ebooks & More!</h5>
        <h2>N2Me Channels & Media Partners<br /> <span class="bold">Free Previews</span></h2>
        <h6>Powered by the Supercloud&#8482;</h6>

      </div>

    </div>
    <hr class="separator center">
  </div>
</section>
<!-- End Callout -->

<!-- Previews Section -->
<section class="pt10 pb70">
  <div class="container">
    <div class="row">

      <div id="clients-slider-2" class="owl-carousel">
        <div><%= image_tag "new_layout/n2me/clients/1.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/2.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/3.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/4.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/5.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/6.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/7.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/8.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/9.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/10.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/11.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/12.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/13.png", class: "img-responsive", alt: "#" %></div>
        <div><%= image_tag "new_layout/n2me/clients/14.png", class: "img-responsive", alt: "#" %></div>
      </div>

    </div>
  </div>
</section>
<!-- End Previews -->

<!-- Callout -->
<section class="parallax overlay bg-shortcodes">
  <div class="container pt80 pb80">
    <div class="row pt20">

      <div class="col-md-12 text-center white">
        <h5 class="subheading">What are you Waiting For?</h5>
        <h1>Time to <span class="bold">Cut the Cord</span> Now!</h1>
        <a href="http://themeforest.net/user/vossendesign/portfolio" class="btn btn-lg btn-primary btn-circle btn-appear mt40"><span>Join N2ME Now | Free 7 Day Trial<i class="ion-checkmark"></i></span></a>
      </div>

    </div>
  </div>
</section>
<!-- End Callout -->

<!-- Start Footer 2 -->
<footer id="footer-2" class="pt80 pb50">

  <img src="img/assets/footer-logo.png" alt="#" class="mr-auto img-responsive">
  <ul>
    <li><a href="https://twitter.com/N2meTV"><i class="ti-twitter-alt"></i></a></li>
    <li><a href="https://www.facebook.com/n2metv"><i class="ti-facebook"></i></a></li>
    <li><a href="https://instagram.com/n2metv"><i class="ti-instagram"></i></a></li>
    <li><a href="https://www.pinterest.com/n2metv/"><i class="ti-pinterest-alt"></i></a></li>
    <li><a href="https://plus.google.com/u/0/103265953848860159549/posts"><i class="ti-google"></i></a></li>
  </ul>
  <a href="https://beta.n2me.tv" target="_blank"><strong>Join the N2Me Revolution | Free 7 Day Trial</strong></a>
  <p>© Copyright 2016 SuperCloud, Inc. | All rights reserved</p>

</footer>
<!-- End Footer 2 -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top -->

<!-- Scripts -->
<script src="http://www.rpm-web.com/n2me-front/js/jquery.min.js"></script>
<script src="http://www.rpm-web.com/n2me-front/js/plugins.js"></script>
<script src="http://www.rpm-web.com/n2me-front/js/scripts.js"></script>