<div class="category-container">
    <!--Outer Holder Start-->
    <% @categories.each do |cat| %>
      <% next unless cat.media.any? %>
        <div class="cp-outer-holder cp-featured-video cp-comedy-video">
          <div class="row">
            <div class="col-md-12 cp-heading-outer">
              <h2><%= cat.title %></h2>
              <ul class="cp-listed">
                  <li class="view-all"><a href="/categories/<%= cat.number %>">View All</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="videos-list uk-slidenav-position">
          
            <div class="row">
              <div class="row__inner">
                <% cat.media.each do |m| %>
                  <div class="tile">
                    <div class="tile__media">
                      <% if m.thumbnail_url.present? %>
                        <img alt="" src="<%= m.thumbnail_url %>" class="tile__img">
                      <% else %>
                        <img src="<%= asset_path('movie-placeholder.jpg') %>') %>" class="tile__img">
                      <% end %>
                    </div>
                    <div class="tile__details">
                      <div class="tile__title">
                        <figcaption class="cp-caption">
                          <a href="/media/<%= m.number %>" class="play-video">Play</a>
                        </figcaption>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <a href="" class="previous uk-slidenav uk-slidenav-contrast uk-slidenav-previous"></a>
              <a href="" class="next uk-slidenav uk-slidenav-contrast uk-slidenav-next"></a>
            </div>


            <!-- <div class="uk-slidenav-position" data-uk-slider="{infinite: false, slideItems: <%= slide_item_number %>}">
              <div class="uk-slider-container" style="-webkit-overflow-scrolling: touch;">
                <ul class="uk-slider uk-grid-width-small-1-3 uk-grid-width-medium-1-4 uk-grid-width-large-1-5">
                  <% cat.media.each do |m| %>
                    <li>
                      <div class="item"> 
                        <div class="cp-video-item">
                          <figure class="cp-thumb">
                            <% if m.thumbnail_url.present? %>
                              <img alt="" src="<%= m.thumbnail_url %>">
                            <% else %>
                              <img src="<%= asset_path('movie-placeholder.jpg') %>') %>">
                            <% end %>
                            <figcaption class="cp-caption">
                              <a href="/media/<%= m.number %>" class="play-video">Play</a>
                            </figcaption>
                          </figure>

                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
              <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

            </div> -->

          </div>
        </div>
    <% end %>
    <!--Outer Holder End-->
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.previous').click(function(){
      var container = $(this).parent().find('.row__inner')
      var itemWidth = container.find('.tile').first().width()
      var left = container.offset().left + (itemWidth+14) *4 ;
      if(left > 5){
        left = 5;
      }
      container.animate( { left: left }, 200)
      return false;
    })
    $('.next').click(function(){
      var container = $(this).parent().find('.row__inner')
      var itemWidth = container.find('.tile').first().width()
      var maxWidth = container[0].scrollWidth;
      if(maxWidth > $(window).width()){
        var left = $(this).parent().find('.row__inner').offset().left-(itemWidth+14)*4 ;
        if(Math.abs(left) > (maxWidth- $(window).width())){
          left =  -(maxWidth - $(window).width());
        }
        container.animate( {left: left}, 200)
      }
      return false;
    })
})

</script>