<div class="container">
    <!--Outer Holder Start-->
    <% @categories.each do |cat| %>
      <% next unless cat.media.any? %>
        <div class="cp-outer-holder cp-featured-video cp-comedy-video">
          <div class="row">
            <div class="col-md-12 cp-heading-outer">
              <h2><%= cat.title %></h2>
              <ul class="cp-listed">
                  <li class="view-all"><a href="/categories/<%= cat.number %>">View All:</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="videos-list">
            <% cat.media.each do |m| %>
              <div class="item"> 
                <!-- Video Item Start-->
                <div class="cp-video-item">
                  <figure class="cp-thumb">
                    <% if m.thumbnail_url.present? %>
                      <img alt="" src="<%= m.thumbnail_url %>">
                    <% else %>
                      <img src="<%= asset_path('movie-placeholder.jpg') %>') %>">
                    <% end %>
                    <figcaption class="cp-caption">
                      <a href="/media/<%= m.number %>" class="play-video">Play</a>
                    </figcaption>
                  </figure>

                </div>
                <!-- Video Item End--> 
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <!--Outer Holder End-->
</div>