<div class="category-container">
    <!--Outer Holder Start-->
    <% @categories.each do |cat| %>
      <% next unless cat.media.any? %>
        <div class="cp-outer-holder cp-featured-video cp-comedy-video">
          <div class="row">
            <div class="col-md-12 cp-heading-outer">
              <h2><%= cat.title %></h2>
              <ul class="cp-listed">
                  <li class="view-all"><a href="/categories/<%= cat.number %>">View All</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="videos-list uk-slidenav-position">
          
            <div class="row">
              <div class="row__inner">
                <% cat.media.each do |m| %>
                  <div class="tile">
                    <div class="tile__media">
                      <% if m.thumbnail_url.present? %>
                        <img alt="" src="<%= m.thumbnail_url %>" class="tile__img">
                      <% else %>
                        <img src="<%= asset_path('movie-placeholder.jpg') %>') %>" class="tile__img">
                      <% end %>
                    </div>
                    <div class="tile__details">
                      <div class="tile__title">
                        <figcaption class="cp-caption">
                          <a href="/media/<%= m.number %>" class="play-video">Play</a>
                        </figcaption>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <a href="" class="previous uk-slidenav uk-slidenav-contrast uk-slidenav-previous"></a>
              <a href="" class="next uk-slidenav uk-slidenav-contrast uk-slidenav-next"></a>
            </div>
          </div>
        </div>
    <% end %>
    <!--Outer Holder End-->
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.previous').click(function(){
      var container = $(this).parent().find('.row__inner')
      var itemWidth = container.find('.tile').first().width()
      var left = container.offset().left + (itemWidth+14) *4 ;
      if(left > 5){
        left = 5;
      }
      container.animate( { left: left }, 200)
      return false;
    })
    $('.next').click(function(){
      var container = $(this).parent().find('.row__inner')
      var itemWidth = container.find('.tile').first().width()
      var maxWidth = container[0].scrollWidth;
      if(maxWidth > $(window).width()){
        var left = $(this).parent().find('.row__inner').offset().left-(itemWidth+14)*4 ;
        if(Math.abs(left) > (maxWidth- $(window).width())){
          left =  -(maxWidth - $(window).width());
        }
        container.animate( {left: left}, 200)
      }
      return false;
    })
    var x,y,top,left,down, stuff;
    $(".row__inner").mousedown(function(e){
        e.preventDefault();
        down=true;
        x=e.pageX;
        y=e.pageY;
        left=$(this).offset().left;
        stuff = $(this)
    });

    $("body").mousemove(function(e){
        var newX=e.pageX;
        var newY=e.pageY;
        var _left;
        if(down){
          if(newX > x){
            _left = left + newX -x + 100;
            if( _left > 5) _left = 5;
          }else{
            _left = left - (x - newX) -100;
            var maxWidth = stuff[0].scrollWidth;
            if(Math.abs(_left) > (maxWidth- $(window).width())){
              _left =  -(maxWidth - $(window).width());
            }
          }
          stuff.css({left: _left});
        }
    });
    $("body").mouseup(function(e){down=false;});
  })

</script>