<div class="container">
    <!--Featured Video Block 2-->
    <% if @category.categories.count > 0 %>
      <div class="cp-featured-block m60 cp-comedy-video">
          <div class="row">
              <div class="col-md-12 cp-heading-outer">
                  <h2><%= @category.title %> Categories</h2>
                  <ul class="cp-listed">
                      <li class="view-all"><a href="#">View All:</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-12 featured-blocks categories-list">
                <% @category.categories.each do |m| %>
                  <div class="single-category-block">
                      <figure class="cp-thumb">
                        <% if m.thumbnail_url.present? %>
                          <img alt="" src="<%= m.thumbnail_url %>">
                        <% else %>
                          <img src="<%= asset_path('movie-placeholder.jpg') %>">
                        <% end %>
                        <figcaption class="cp-caption">
                          <a class="play-video" href="/categories/<%= m.number %>">View <%= @category.title %> Category</a>

                        </figcaption>
                      </figure>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
    <% end %>
    <!--Featured Video Block 2 End-->
    <!--Outer Holder Start-->
    <% @category.categories.each do |cat| %>
        <div class="cp-outer-holder cp-featured-video cp-comedy-video">
          <div class="row">
            <div class="col-md-12 cp-heading-outer">
              <h2>
                <%= cat.title %> <% if @category.title.match("Movies") %>
                    Movies
                <% else %>
                    Channels
                    <% unless cat.media.first.try(:is_a_game) %> Channels <% end %></h2>
                <% end %>



              <ul class="cp-listed">
                  <li class="view-all"><a href="/categories/<%= cat.number %>">View All:</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="videos-list">
            <% cat.media.each do |m| %>
              <div class="item"> 
                <!-- Video Item Start-->
                <div class="cp-video-item">
                  <figure class="cp-thumb">
                    <% if m.thumbnail_url.present? %>
                          <% if @category.title.match("Movies") %>
                            <img alt="" src="<%= m.thumbnail_url %>" class="makemetaller">
                          <% else %>
                      <img alt="" src="<%= m.thumbnail_url %>">
                          <% end %>
                    <% else %>
                      <img src="<%= asset_path('movie-placeholder.jpg') %>') %>">
                    <% end %>
                    <figcaption class="cp-caption">
                      <a href="/media/<%= m.number %>" class="play-video">Play</a>
                    </figcaption>
                  </figure>

                </div>
                <!-- Video Item End--> 
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <!--Outer Holder End-->
    <% if @media.size > 0 %>
      <div class="cp-featured-block m60 cp-comedy-video">
          <div class="row">
              <div class="col-md-12 cp-heading-outer">
                  <h2><%= @category.title %> Videos</h2>
                  <ul class="cp-listed">
                      <li class="view-all"><a href="#">View All:</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-12 featured-blocks categories-list">
                <% @media.each do |m| %>
                  <div class="single-category-block">
                      <figure class="cp-thumb">
                        <% if m.thumbnail_url.present? %>
                          <% if @category.title.match("Movies") %>
                            <img alt="" src="<%= m.thumbnail_url %>" class="makemetaller">
                          <% else %>
                          <img alt="" src="<%= m.thumbnail_url %>">
                          <% end %>
                        <% else %>
                          <img src="<%= asset_path('movie-placeholder.jpg') %>">
                        <% end %>
                        <figcaption class="cp-caption">
                          <a class="play-video" href="/media/<%= m.number %>">Play</a>
                        <% if !m.category_name.match("Events") %>
                           <div class="cp-text">
                              <h4><%= m.title %></h4>
                            <!--Add features later<ul class="cp-meta-list">
                                <li>Feb 26, 2016</li>
                                <li>by Jiana Smith, <span>19 Views</span>
                                </li>
                            </ul>-->
                            </div>
                            <% end %>
                        </figcaption>
                      </figure>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
      <% if @media.size >= MPX::RemoteResource::PER_PAGE || params[:page].to_i > 1 %>
        <div class="row">
          <div class="col-md-12">
            <% if params[:page].to_i >= 2 %>
              <a class="btn btn-sm btn-primary" href="?page=<%= params[:page].to_i - 1 %>">
               Prev page
              </a>
            <% end %>
            <div style="float:right">
              <a class="btn btn-sm btn-primary" href="?page=<%= (params[:page] || 1).to_i + 1 %>"> Next page</a>
            </div>
          </div>
      <% end %>
    <% end %>
</div>